# Ignorar arquivos e diretórios específicos do WordPress
wp-config.php
/wp-content/uploads/
/wp-content/upgrade/
/wp-content/backup-db/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/backup-db/
/.htaccess
/license.txt
/readme.html

# Ignorar diretórios específicos do WordPress
/wp-includes/
/wp-admin/

# Ignorar arquivos específicos do WordPress
sitemap.xml
wp-*.php

# Ignorar arquivos de configuração de ambiente
.env

# Ignorar diretórios de pacotes de gerenciamento de dependências (exemplo: Composer)
/node_modules/
/bower_components/

# Ignorar arquivos de backup e temporários
*.log
*.bak
*.swp
*.tmp
*.zip
*.gz
*.sql
**/.DS_Store

